*{
  box-sizing: border-box;
}

body{
  background-color: rgb(14, 19, 37);
  text-align: center;
  color: #fff;
}

.bg-img{
  border-radius: 10px;
  margin: 0;
}
.design{
  background-color: #281c4a;
  margin: 5%;
  border-radius: 10px;
}

.title{
  padding: 4% 4% 4% 7%;
  text-align: left;
}

.heading{
  font-size: 2rem;
  font-weight: bold;
}

.title-highlight{
  color: #8146b9;
}

.about-para{
  font-size: 11px;
  line-height: 1.5;
  padding-right: 10%;
  color: #999999;
  margin-bottom: 15%;
}

.features{
  line-height: 0.5;
  text-align: center;
}

.key-features{
  font-size: 1.5rem;
  font-weight: bold;
}

.about-features{
  font-size: 12px;
  color: 	#999999;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgb(62, 82, 163);
  font-size: 1rem;
}

@media only screen and (min-width: 400px){
  #wrapper{
    display: flex;
    flex-direction: row-reverse;
  }
}
